<h1 id="blueteambriefepisode2">Blue Team Brief Episode 2</h1>

<p>You are tasked with protecting the online inventory system on a 'solutions company'. This server is fairly old, and
    was made by fairly green programmers. There may be some pitfalls in how the server was setup, as well as how the
    backend was programmed. Find these vulnerabilities and keep the red team out.</p>

<h3 id="tips">Tips</h3>

<ul>
    <li>Scanning is your friend</li>

    <li>Not all vulnerabilities will be found bwy scanning, check the code on the website to see if you can find
        anything that might be insecure</li>

    <li>Not everything runs on the default port</li>
</ul>