<h1 id="redteambriefepisode2">Red Team Brief Episode 2</h1>

<p>You are attacking a company who has their inverntory listed on their websites for clients to see the current data.
    Your goal is to take down this service using any vulnerabilities you are able to find.</p>

<h3 id="tips">Tips</h3>

<ul>
    <li>Scanning is your friend</li>

    <li>Not all vulnerabilities will be found by scanning, check the code on the website to see if you can find anything
        that might be insecure</li>

    <li>Not everything runs on the default port</li>
</ul>