<h1 id="blueteambriefepisode1">Blue Team Brief Episode 1</h1>

<p>Your server running a REST API on port <code>8080</code> is know to have an injection vulnerability. Your goal is to
    find it, patch it, make sure your service stays alive, and patch any other potential vulnerabilities you may find on
    the server.</p>

<h3 id="tips">Tips</h3>

<ul>
    <li>Scanning is your friend</li>

    <li>Look at the process running on the port, how can you follow that back to where the server is running?</li>