/**
 * Copyright (c) 2014 The xterm.js authors. All rights reserved.
 * Copyright (c) 2012-2013, Christopher Jeffrey (MIT License)
 * https://github.com/chjj/term.js
 * @license MIT
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 *
 * Originally forked from (with the author's permission):
 *   Fabrice Bellard's javascript vt100 for jslinux:
 *   http://bellard.org/jslinux/
 *   Copyright (c) 2011 Fabrice Bellard
 *   The original design remains. The terminal itself
 *   has been extended to include xterm CSI codes, among
 *   other features.
 */

/**
 *  Default styles for xterm.js
 */

 #side-menu {
    background-color: #f1f1f1;
    right:0;
    overflow: auto;
    top:0;
    bottom: 0;
    padding-bottom: 3%;
    width:20%;
    height:100%;
    float: right;
    position: absolute;
}

#side-menu-header {
    margin: 10%;
    color:#333333;
}

#note-container {
    color:#333333;
}

#note-list {
    list-style-type: disc;
}

.layout-container {
    height: 100%;

}

#note-input-container {
    display: flex;
    margin:0;
    padding: 0;
}

#txtSearch {
    -webkit-appearance: none;
    margin-top: 0;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 40px;
    font-size: 14px;
    border: 3px solid #149414;
    color: #333333;
    background: none;
    height: calc(1em+30px);
    width: 500px;
    margin: 0;
    transition: 0.3s;
    box-shadow: inset 0 0 0 none;
  }
  ::-webkit-input-placeholder {
    color: #333333; 
  }
  #txtSearch:hover {
    color: #fff;
    box-sizing: border-box;
    border: 3px solid #149414;
    background: #149414;
  }
  #txtSearch:focus {
      outline: none;
  }

.btn-2 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    margin: 0, 10%;
    padding: 15px 30px;
    text-align: center;
    transition: 0.5s;
    background-size: 115% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0px 4px 25px rgba(177,172,210,0.3);
    border-radius: 2px;
}


.btn:hover {
    background-position: -25px; /* change the direction of the change here */
    box-shadow: 0px 10px 30px rgba(177,172,210,0.3);
    transform: translateY(-2px);
    transition: 400ms ease-in;
}

.btn:active {
    background-position: 0px; /* change the direction of the change here */
    box-shadow: 0px 10px 30px rgba(177,172,210,0.3);
    transform: translateY(-0px);
    transition: 200ms ease-in;
    background-color: #3e8e41;
    background-size: 250%;
}
.btn-2 {
    background-image: linear-gradient(#149414, #0e6b0e);
}

#terminal-container{
    width: 80%;
    float: left;
}

.xterm {
    font-feature-settings: "liga" 0;
    position: relative;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.xterm.focus,
.xterm:focus {
    outline: none;
}

.xterm .xterm-helpers {
    position: absolute;
    top: 0;
    /**
     * The z-index of the helpers must be higher than the canvases in order for
     * IMEs to appear on top.
     */
    z-index: 5;
}

.xterm .xterm-helper-textarea {
    /*
     * HACK: to fix IE's blinking cursor
     * Move textarea out of the screen to the far left, so that the cursor is not visible.
     */
    position: absolute;
    opacity: 0;
    left: -9999em;
    top: 0;
    width: 0;
    height: 0;
    z-index: -5;
    /** Prevent wrapping so the IME appears against the textarea at the correct position */
    white-space: nowrap;
    overflow: hidden;
    resize: none;
}

.xterm .composition-view {
    /* TODO: Composition position got messed up somewhere */
    background: #000;
    color: #FFF;
    display: none;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
}

.xterm .composition-view.active {
    display: block;
}

.xterm .xterm-viewport {
    /* On OS X this is required in order for the scroll bar to appear fully opaque */
    background-color: #000;
    overflow-y: scroll;
    cursor: default;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.xterm .xterm-screen {
    position: relative;
}

.xterm .xterm-screen canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.xterm .xterm-scroll-area {
    visibility: hidden;
}

.xterm-char-measure-element {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -9999em;
    line-height: normal;
}

.xterm {
    cursor: text;
}

.xterm.enable-mouse-events {
    /* When mouse events are enabled (eg. tmux), revert to the standard pointer cursor */
    cursor: default;
}

.xterm.xterm-cursor-pointer {
    cursor: pointer;
}

.xterm.column-select.focus {
    /* Column selection mode */
    cursor: crosshair;
}

.xterm .xterm-accessibility,
.xterm .xterm-message {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    color: transparent;
}

.xterm .live-region {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.xterm-dim {
    opacity: 0.5;
}

.xterm-underline {
    text-decoration: underline;
}
body, html  {
  font-family: helvetica, sans-serif, arial;
  font-size: 1em;
  color: #111;
  background-color: rgb(0, 0, 0);
  color: rgb(240, 240, 240);
  height: 100%;
  margin: 0;
}
#header {
    color: rgb(240, 240, 240);
    background-color: rgb(0, 128, 0);
    width: 100%;
    border-color: white;
    border-style: none none solid none;
    border-width: 1px;
    text-align: center;
    flex: 0 1 auto;
    z-index: 99;
    height:19px;
    display: none;
}
.box {
    display: block;
    height: 100%;
}
#terminal-container {
    display: block;
    width: calc(100% - 1 px);
    margin: 0 auto;
    padding: 2px;
    height: calc(100% - 19px);
}
#terminal-container .terminal {
    background-color: #000000;
    color: #fafafa;
    padding: 2px;
    height: calc(100% - 19px);
}
#terminal-container .terminal:focus .terminal-cursor {
    background-color: #fafafa;
}
#bottomdiv {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(50, 50, 50);
    border-color: white;
    border-style: solid none none none;
    border-width: 1px;
    z-index: 99;
    height: 19px;
}
#footer {
    display: inline-block;
    color: rgb(240, 240, 240);
    background-color: rgb(50, 50, 50);
    padding-left: 5px;
    padding-right: 5px;
    border-color: white;
    border-style: none none none solid;
    border-width: 1px;
    text-align: left;
}
#status {
    display: inline-block;
    color: rgb(240, 240, 240);
    background-color: rgb(50, 50, 50);
    padding-left: 10px;
    padding-right: 10px;
    border-color: white;
    border-style: none solid none solid;
    border-width: 1px;
    text-align: left;
    z-index: 100;
}
#menu {
    display: inline-block;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    z-index: 100;
}
#menu:hover .dropup-content {
    display: block;
}
#logBtn, #credentialsBtn, #reauthBtn {
    color: #000;
}

.dropup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  font-size: 16px;
  min-width: 160px;
  bottom: 18px;
  z-index: 101;
}
.dropup-content a {
    color: #777;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropup-content a:hover {
    background-color: #ccc
}
.dropup:hover .dropup-content {
    display: block;
}
.dropup:click .dropup-content {
    display: block;
}
.dropup:hover .dropbtn {
    background-color: #3e8e41;
}
