#newUserNameWrapper{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 300;
}
#newPasswordWrapper{
    position: absolute;
    top: 2%;
    left: 55%;
    width: 300;
}
#passwordLabel{
    position: absolute;
    top: 20%;
    left: 55%;
}
#addUser{
    position: absolute;
    top: 85%;
    left: 2%
}
#clearFields{
    position: absolute;
    top: 85%;
    left: 81%
}
#sudoCheckDiv{
    position: absolute;
    top: 20%;
    left: 2%;
}
#customGroupCheckDiv{
    position: absolute;
    top: 40%;
    left: 2%;
}
#customGroupWrapper{
    position: absolute;
    width: 300;
    top: 55%;
    left: 2%;
}
#customUIDCheckDiv{
    position: absolute;
    top: 40%;
    left: 55%;
}
#customUIDWrapper{
    position: absolute;
    width: 300;
    top: 55%;
    left: 55%;
}
#optional{
    position: absolute;
    top: 35%;
    left: 2%;
}
#Error{
    position: absolute;
    color: red;
    top: 80%;
    left: 2%;
}