#SendAddCommand{
    position: absolute;
    top:50%;
    left: 65%;
    top: 60%;
    
}
#ClearAddCommand{
    position: absolute;
    top: 50%;
    left: 82%;
    top: 60%;
}
#CustomCommandWrapper{
    position: absolute;
    width: 530px;
}
#CustomCommandNameWrapper{
    position: absolute;
    width: 300px;
    top: 40%
}
#Error{
    color: red;
    position: absolute;
    top: 80%;
    left: 2%;


}