.body {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.mainDiv {
    height:100%;
    width:100%;
    display:flex;
    flex-direction: row;
}
.itemListContainer {
    width:10%;
    height:100%;
    /* background-color: #222222; */
    background-color: #f2f2f2;
}
#itemList {
    display: flex;
}
.itemList {
    width:100%;
    /* color:#eeeeee; */
    color: #373737;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
}
.dragArea {
    width:90%;
    height: 100%;
    z-index: 1;
    background:
        linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
        linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
        linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(-90deg, #aaa 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(#aaa 1px, transparent 1px),
        #f2f2f2;
    background-size:
        4px 4px,
        4px 4px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
}
.spriteContainer {
    display:flow-root;
}
.spriteLabel {
    overflow-wrap: break-word;
}
.active {
    border-width: 10px;
    border: dashed red;
}
.line {
    text-align: center;
}
.submitButton {
    z-index: 2;
    padding: 1%;
}
.dropDownMenu {
    position: absolute;
    z-index: 3;
}
.dropDownMenuCell {
    background-color:#eeeeee;
    text-align: center;
    padding:.25em;
}.dropDownMenuCell:hover {
    background-color:lightskyblue;
}
.menu {
    position: absolute;
    top:0;
    bottom:0;
    z-index: 5;
    background-color: #eeeeee;
    right:0;
    width:20%;
}
.propertiesContainer {
    display:flex;
    flex-direction: row;
}
.menuTitle{
    font-size: 1em;
    margin: 0;
    padding:.25em;
    line-height: 1.15;
}
select{
    display: inline-block;
}
.vulnList {
    display:flex;
    flex-direction: column;
}
.optionSel {
    display: table-row;
    flex-direction: row;
}

.itemButton {
    width:100%;
    text-align: center;
    background-color: #6464c8;
    padding:5%;
    margin:auto;
    justify-content: center;
    color: #f2f2f2
}
.itemButton:hover {
    background-color: #8787ff;
    color:#373737;
}

#fileInput {
    display:none ;
}