#vmChoice{
    width:150px;
    height: auto;
    float: left;   
   }
#MainBody{
    margin-right: 2%;
    margin-left: 2%;
    user-select: none;
}
#bannerHead{

    user-select: none;
}
#chosenSectionContainer{
    width: 250px;
    position: absolute;
    top: 15%;
    left: 65%;
    /* position: relative; */
}
/* #customCommand{
    clear: both;
    float: left;

    
} */
#rightVMChoiceList{
    width:250px;
    position:absolute; 
    /* bottom:30px; */
    top:20%;
    left:2%;
    /* height: auto;
    float: right;
        */
}
#services{
    max-height: 150px;
    overflow-y: auto;
}
#vulnerabilities{
    max-height: 150px;
    overflow-y: auto;
}
#chosenServices{
    max-height: 350px;
    overflow-y: auto;
}
#ButtonHolder{
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 2%;
}
#chosenItems{
    position: absolute;
    width: 150px;
    top: 30%;
    left: 40%;
}
#buildDockerButton{
    position: absolute;
    top: 90%;
    left: 90%;
}
#dockerName{
    width: 160px;
    position: absolute;
    top: 15%;
    left: 40%;
}
#CommonTools{
    position: absolute;
    top: 60%;
    left: 40%;
}
#errorBuild{
    position: absolute;
    top: 97%;
    left: 88%;
    color: red;
}
#clearButton{
    position: absolute;
    top: 90%;
    left: 80%;
}
#listItem{
    user-select: none;
}
#listItemAdd{
    user-select: none;
}
#listItem:hover{
    background-color: lightblue;
    cursor: pointer;
}
#listItem:hover::after{
    content: "-Add";
}
#listItemAdd:hover{
    background-color: lightcoral;
    cursor: pointer;

}
#listItemAdd:hover::after{
    content: "-Delete";
}
.labels{
    color: black;
    
}
#openButton{
    position: absolute;
    top: 90%;
    left: 70.5%;
}
/* #rightVMVulnerabilitiesList{
    width: 250px;
    clear: both;
    float: right;
} */