#MainBody{
    margin-right: 2%;
    margin-left: 2%;
    user-select: none;
}
#textBox{
    resize: none;
    top: 15%;
    left: 2%;
    width: 755px;
    height: 450px;
}
#openFileButton{
    position: absolute;
    top: 90%;
    left: 12%;
}
#saveFileButton{
    position: absolute;
    top: 90%;
    left: 2%;
}
#Error{
    position: absolute;
    top: 85%;
    left: 2%;
}