body, html  {
  font-family: helvetica, sans-serif, arial;
  font-size: 1em;
  color: #111;
  background-color: rgb(0, 0, 0);
  color: rgb(240, 240, 240);
  height: 100%;
  margin: 0;
}

#header {
    color: rgb(240, 240, 240);
    background-color: rgb(0, 128, 0);
    width: 100%;
    border-color: white;
    border-style: none none solid none;
    border-width: 1px;
    text-align: center;
    flex: 0 1 auto;
    z-index: 99;
    height:19px;
    display: none;
}
.box {
    display: block;
    height: 100%;
}
#terminal-container {
    display: block;
    width: calc(100% - 1 px);
    margin: 0 auto;
    padding: 2px;
    height: calc(100% - 19px);
}
#terminal-container .terminal {
    background-color: #000000;
    color: #fafafa;
    padding: 2px;
    height: calc(100% - 19px);
}
#terminal-container .terminal:focus .terminal-cursor {
    background-color: #fafafa;
}
#bottomdiv {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(50, 50, 50);
    border-color: white;
    border-style: solid none none none;
    border-width: 1px;
    z-index: 99;
    height: 19px;
}
#footer {
    display: inline-block;
    color: rgb(240, 240, 240);
    background-color: rgb(50, 50, 50);
    padding-left: 5px;
    padding-right: 5px;
    border-color: white;
    border-style: none none none solid;
    border-width: 1px;
    text-align: left;
}
#status {
    display: inline-block;
    color: rgb(240, 240, 240);
    background-color: rgb(50, 50, 50);
    padding-left: 10px;
    padding-right: 10px;
    border-color: white;
    border-style: none solid none solid;
    border-width: 1px;
    text-align: left;
    z-index: 100;
}
#menu {
    display: inline-block;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    z-index: 100;
}
#menu:hover .dropup-content {
    display: block;
}
#logBtn, #credentialsBtn, #reauthBtn {
    color: #000;
}

.dropup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  font-size: 16px;
  min-width: 160px;
  bottom: 18px;
  z-index: 101;
}
.dropup-content a {
    color: #777;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropup-content a:hover {
    background-color: #ccc
}
.dropup:hover .dropup-content {
    display: block;
}
.dropup:click .dropup-content {
    display: block;
}
.dropup:hover .dropbtn {
    background-color: #3e8e41;
}
